<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap/bootstrap.min.css') }}">
    <title>New Order</title>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Sheetrock Builder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_orders">Community</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <form class="d-flex align-items-center">
                <div class="dropdown">
                    <p class="mt-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.first_name}}<img src="https://th.bing.com/th/id/R.7ea4af7d8401d2b43ee841bfa2abe89d?rik=xidyUKdveUKULQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-download-icons-logos-emojis-users-2240.png&ehk=2%2bOqgdMZqFkKaBclc%2fPL9B86vLju3iBGiFmH64kXaTM%3d&risl=&pid=ImgRaw&r=0" width="50" alt="User Icon" class="rounded-circle mx-2"></p>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="#settings">Settings</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </nav>

    <!-- body -->
    <div class="container w-75 text-center m-auto">
        <h3 class="my-2">Enter Information</h3>

        {% with messages = get_flashed_messages() %}   <!-- declare a variable called messages -->
        {% if messages %}                                                   <!-- check if there are any messages -->
        {% for message in messages %}                                   <!-- loop through the messages -->
        <p class="text-danger">{{message}}</p>                      <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="border m-auto w-25">
            <form action="/build_truck" method="post">
                <div class="m-2">
                    <label for="name">Project Name:</label>
                    <input type="text" name="name">
                </div>
                <div class="m-2">
                    <label for="lw12">1/2" x 4' x 12':</label>
                    <input type="number" value="0" name="lw12">
                </div>
                <div class="m-2">
                    <label for="lw5412">1/2" x 54" x 12':</label>
                    <input type="number" value="0" name="lw5412">
                </div>
                <div class="m-2">
                    <label for="fc12">5/8" x 4' x 12':</label>
                    <input type="number" value="0" name="fc12">
                </div>
                <div class="m-2">
                    <label for="fc5412">5/8" x 54" x 12':</label>
                    <input type="number" value="0" name="fc5412">
                </div>
                <div class="m-2">
                    <label for="m1212">1/2" x 4' x 12' (MR):</label>
                    <input type="number" value="0" name="m1212">
                </div>
                <div class="m-2">
                    <label for="m5812">5/8" x 4' x 12' (MR):</label>
                    <input type="number" value="0" name="m5812">
                </div>
                <div class="m-2">
                    <label for="notes">Notes:</label>
                    <textarea name="notes" cols="23" rows="6"></textarea>
                </div>
                <button class="btn btn-success my-3">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>