<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap/bootstrap.min.css') }}">
    <title>View Build</title>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Sheetrock Builder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_orders">Community</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <form class="d-flex align-items-center">
                <a href="/new_order" class="btn btn-secondary mx-3">New Order</a>
                <div class="dropdown">
                    <p class="mt-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.first_name}}<img src="https://th.bing.com/th/id/R.7ea4af7d8401d2b43ee841bfa2abe89d?rik=xidyUKdveUKULQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-download-icons-logos-emojis-users-2240.png&ehk=2%2bOqgdMZqFkKaBclc%2fPL9B86vLju3iBGiFmH64kXaTM%3d&risl=&pid=ImgRaw&r=0" width="50" alt="User Icon" class="rounded-circle mx-2"></p>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="#settings">Settings</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </nav>
    <!-- body -->
    <div class="container w-75">
        <h3>Build Overview</h3>
        <div class="card">
            <h4>{{order.name}}</h4>
            <table class="table">
                <tbody>
                    {% if order.build.lw5412p > 0 %}
                    <tr>
                        <td>12LW5412 picks: {{order.build.lw5412p}}</td>
                    </tr>
                    {% endif %}
                    {% if order.build.fc5412p > 0 %}
                    <tr>
                        <td>58FC5412 picks: {{order.build.fc5412p}}</td>
                    </tr>
                    {% endif %}
                    {% if order.build.lw12p > 0 %}
                    <tr>
                        <td>12LW12 picks: {{order.build.lw12p}}</td>
                    </tr>
                    {% endif %}
                    {% if order.build.fc12p > 0 %}
                    <tr>
                        <td>58FC12 picks: {{order.build.fc12p}}</td>
                    </tr>
                    {% endif %}
                    {% if order.build.m1212p > 0 %}
                    <tr>
                        <td>12M12 picks: {{order.build.m1212p}}</td>
                    </tr>
                    {% endif %}
                    {% if order.build.remainder_pick != None %}
                    <tr>
                        {% for pick in order.build.remainder_pick %}
                        <td>{{pick}}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </tbody>
                {% set sheets = {'lw12' : order['lw12'], 'lw5412' : order['lw5412'], 'fc12' : order['fc12'], 'fc5412' : order['fc5412'], 'm1212' : order['m1212']} %}
                    {% for key, val in sheets.items() %}
                    {% if val > 0 %}
                    <li class="list-unstyled">{{key}}: {{val}} pcs</li>
                    {% endif %}
                    {% endfor %}
            </table>
            <p>Notes:</p>
            <p>{{order.notes}}</p>
        </div>
        <form action="/delete_order/{{order.id}}" onsubmit="return confirm('Are you sure you wish to delete?');">
        <div class="mt-2">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            {% if order.user_id == user.id %}
            <a href="/edit_order/{{order.id}}" class="btn btn-secondary">Edit Order</a>
            <button class="btn btn-danger">Delete</button>
            {% endif %}
        </div>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>